<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheet.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>

